.Homepage-ul{
    list-style-type:none;
    display: flex;
    justify-content: space-between;
    height: 79px;
    width: 45%; 
    margin: auto;
}

.Homepage-li{
    display: inline;
    float: left;
  height: inherit;
  width: 20%;
  margin-top: 3vh;
}

.Homepage-Header{
    background-color: rgb(255, 255, 255);
}

a{
    text-decoration: none;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.fl{float: left;}
.logo{
    width:85%;
    
}

.logo{ width: 15rem; height:auto;margin-top: 1rem;}

.nav_t ul.header-navbar-level1{
    display: flex;
    justify-content: space-between;
    height: 79px;
    width: 45%;
    margin: auto;
  }