
.carousel-container {
   /* 设置 Carousel 容器的大小 */
   width: 100%; /* 或者具体的像素值，如 width: 800px; */
   height: auto; /* 或者具体的像素值，如 height: 500px; */
  /* margin: auto*/; /* 水平居中 */
   overflow: hidden; /* 隐藏超出容器的内容 */
 }

  .Zmd-contentStyle{
    color: white;    
    background: black;
  }

  .ant-Carousel {
   /* 设置 Carousel 的宽度和高度 */
   width: auto; /* 或者具体的像素值，如 width: 800px; */
   height: auto; /* 或者具体的像素值，如 height: 500px; */
 }
 
 .ant-carousel .slick-slide {
   /* 设置每个 slide 的样式，例如内边距、边距等 */
   padding: auto;
   box-sizing: border-box; /* 确保 padding 不会增加元素的总宽度和高度 */
 }
 
 .Zmd-contentStyle {
   /* 设置 Carousel 中内容的样式 */
   font-size: 80px;
   color: #333;
   text-align: center;
   /* 其他你需要的样式 */
 }

 .img-size{
   width: 100%;
   height: 100%;
   object-fit: cover;
 }