.index-tit{
    margin:4rem auto;
    text-align: center;
  }
  .index-tit-con{
    position: relative;
    font-size: 1.5rem;
    color:#333;
    font-weight: bold;
    display: inline-block;
  }

  /* after:一种伪元素选择器，用于在被选元素的后面插入内容，通常配合content属性指定要插入的内容*/
  .index-tit-con:after {
    content: '';
    position: absolute;
    width: 3rem;
    height: 2px;
    left: 50%;
    bottom: -0.5rem;
    transform: translateX(-50%);
    background: #00e5ff;
}

  .accordion-container {

    padding: 0; /*从父元素继承padding属性，在此处保证两边不留白*/
    margin: 0;  /*控制手风琴部分与footer之间是否留白，mairgin：0 即不留白*/
    overflow: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    .accordion-item {
      list-style: none;
      width: 100%;
      height: 500px;
      transition: width 0.5s;
      background-image: url('../../assets/csstrick1.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      &:not(:hover) {
        width: 20%;
      }
      &:hover {
        width: 800px;
        &::after {
          opacity: 1;
        }
      }
      &::after{
        content:'';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, .4);
        z-index: 1;
        opacity: 0;
        transition: opacity 0.5s;
      }
      .accordion-title {
        color: #fff;
        font-size: 18px;
        z-index: 2;
      }
    }
  }


accordion-container .accordion-item[data-v-36fadeda] {
    list-style: none;
    height: 500px;
    transition: width .5s;
    background-repeat: no-repeat;
    background-size: 500px;
    background-position: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center
}
/*控制手风琴内部件Li的大小，因从5个展示位调整到3个展示位，原值为20%，现需调整为34%*/
.accordion-container .accordion-item:not(:hover) {
    width: 34%
}

.accordion-container .accordion-item:hover {
    width: 500px
}

.accordion-container .accordion-item:hover:after {
    opacity: 1
}

.accordion-container .accordion-item:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,.4);
    z-index: 1;
    opacity: 0;
    transition: opacity .5s
}

.accordion-container .accordion-item .accordion-title {
    color: #fff;
    font-size: 18px;
    z-index: 2
}

.content-container{
  display: flex;
  justify-content: center;
}

.accordion-item span {
  /* 将 span 转换为块级元素，这样它会在新的一行上显示 */
  display: block;
  /* 还可以添加一些样式，比如边距，来更好地控制布局 */
  margin-top: 10px; /* 添加顶部边距来与上面的内容分隔 */
}